.recipe-card-alt {
  &__image {
    border-radius: var(--border-radius-xxs);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
} 