.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  min-width: 200px;
  padding-block: 18px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  border-radius: var(--border-radius-xxxs);

  @include hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }
}
