.recipe-card {
  &--alt {
    a {
      padding: 16px 16px 32px;
      background-image: var(--gradient);
      border-radius: var(--border-radius);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__image-wrapper {
    @include tablet {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    img {
      border-radius: var(--border-radius-xxs);
    }
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 12px;
    background-color: var(--color-white);
    border-radius: 50%;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
