.tags {
  &__list {
    display: flex;
    column-gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--color-black);
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--color-black-600);
  }
}
