.section {
  display: grid;
  row-gap: fluid(80, 40);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: fluid(160, 16);

    @include mobile-s {
      display: contents;
    }

    &--column {
      flex-direction: column;
      row-gap: 24px;

      & > div {
        max-width: 706px;
        text-align: center;
      }
    }
  }

  &__link {
    color: var(--color-black);
    background-color: var(--color-cyan);

    @include mobile-s {
      order: 1;
    }
  }
}
