.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: 40px var(--section-padding-y);

  &__slider-item {
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);
    overflow: hidden;
  }
}
