.menu {
  &__list {
    display: flex;
    align-items: center;
    column-gap: fluid(60, 20);
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--color-black);
  }

  &__link {
    position: relative;

    &::before {
      @include abs-center;

      content: '';
      width: calc(100% + 24px);
      height: 44px;
    }

    &.is-active {
      color: var(--color-white);
      pointer-events: none;

      &::before {
        z-index: -1;
        background-color: var(--color-accent);
        border-radius: var(--border-radius);
      }
    }
  }
}