.subscribe-form {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: var(--section-padding-y);
    background: url('@/assets/images/subscribe-form/subscribe-form-bg.jpg')
      center / cover no-repeat;
    border-radius: var(--border-radius-m);

    @include mobile {
      border-radius: var(--border-radius);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    padding-block: fluid(80, 40);
    text-align: center;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    @include mobile-s {
      width: 300px;
    }

    &:not(:last-child) {
      margin-bottom: fluid(64, 32);
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-xs);

    @include mobile-above {
      min-width: 480px;
    }

    @include mobile-s {
      flex-direction: column;
      width: 340px;
    }
  }

  &__input {
    padding-inline: 22px;
    font-size: 14px;
    font-weight: 500;
    border: none;

    @include mobile-s {
      padding-block: 11px 22px;
    }

    &::placeholder {
      color: var(--color-black-400);
    }
  }

  &__button {
    min-width: 160px;
  }
}
