.recipe-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url('@/assets/images/recipe-banner/recipe-banner-bg.svg') center / cover no-repeat;

  @include mobile {
    padding-block: 80px;
  }

  @include mobile-s {
    padding-block: 40px;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__dish {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    color: var(--color-white-600);
  }
} 