.slider {
  &__item {
    max-width: var(--container-width);
    border-radius: var(--border-radius-m);
    overflow: hidden;

    @include tablet-s {
      border-radius: var(--border-radius);
    }
  }
} 